// COLORS
$body-background-color: rgb(43, 43, 44);
$a-color: #61DAFB;
$side-bar-background-color: rgb(34, 32, 32);
$nav-background-color:red;
// HEIGHTS
$p-line-height: 26px;
$nav-height: 150px;
$logo-height: 75px;
// FONTS
$section-a-to-top: 46px;
$p-font-size: 16px;
$body-font-size: 10px;